exemplos/*/vendor/
exemplos/*/.env
exemplos/*/*.obj

exemplos/kafka-streams/data/*
exemplos/kafka-streams/dotnet/ProducerKafka/obj
exemplos/kafka-streams/dotnet/ProducerKafka/bin

exemplos/kafka-streams/dotnet/ConsumerKafka/obj
exemplos/kafka-streams/dotnet/ConsumerKafka/bin

exemplos/g-rpc/dotnet/client-g-rpc/obj
exemplos/g-rpc/dotnet/client-g-rpc/bin

exemplos/g-rpc/dotnet/server-g-rpc/obj
exemplos/g-rpc/dotnet/server-g-rpc/bin

exemplos/*/*.txt
*.txt
